In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import SGDRegressor

from sklearn.pipeline import Pipeline

from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import GridSearchCV

from ml_utils import edaDF
import toolbox as tb

In [2]:
# Download and load the data
import keras
import os

f_path_1 = "data/Euro_Salary.csv"
url_1 = "https://github.com/AkeemSemper/ml_data/raw/main/Euro_Salary.csv"
if not os.path.exists(f_path_1):
    file_1 = keras.utils.get_file(f_path_1, url_1)
    
df = pd.read_csv(f_path_1)

# Assignment 2 - Regression
### Predict the TOTAL COMPENSATION for this year. 

The data file provided is a salary survey for tech workers in Europe. We want to predict the total amount of compensation they bring in each year, based off of the details of their work. 

Some notes that will be important:
<ul>
    <li>The total compensation will need to be constructed, there is a column for salary, "Yearly brutto salary (without bonus and stocks) in EUR", as well as a column for bonus compensation, "Yearly bonus + stocks in EUR". 
    <li>Some categorical variables will need some work, and there isn't generally an exact answer. The main concern is things with categories that have a bunch of values with a very small count. For example, if there is only 1 person in City X, then that value likely needs to be addressed. We don't want it encoded into a new column of one 1 and thousands of 0s. 
    <li>There is an article exploring some of the data here: https://www.asdcode.de/2021/01/it-salary-survey-december-2020.html
    <li>Imputation and a bit of data manipulation will be required. 
    <li>Use any regression method you'd like. Some ones are closely related to what we've done, you may want to look at them, e.g. ExtraTreesRegressor. 
    <li>Initial accurracy, and potentially final accuracy, may not be great. When I made a plain model will little optimization the errors were large and the R2 was low. There is lots of room for optimization. 
    <li>Research challenge - try some work on the target, look into TransformedTargetRegressor and see if that helps. Recall in stats when we had skewed distributions... Maybe it helps, maybe it doesn't. 
    <li>EDA and data prep are up to you - you'll probably need to do a little exploring to figure out what cleanup is needed. When I did it, I did things kind of iteratively when I did it. For example, look at the value counts, figure out how to treat the different categories, clean something up, look at the results, potentially repeat if needed. After you figure out what needs to be done, you may be able to take some of those steps and incorporate them into a pipeline to be cleaner....
    <li><b>CRITICAL - Please make sure you publish it after having run it, all the output should be showing.</b>
</ul>

### Details and Deliverables

You'll need to build code to produce the predictions. In particular, there's a few things that'll be marked:
<ul>
    <li>Please add a "presentation version" at the bottom, where you show what you did, and the results. Basically, you start with the original data, you do some work to figure out what's needed, you try a few models and select the best. At the bottom, put what <i>you actually settled on</i>, i.e. after all the figuring and exploring, here's the code that goes from raw data to final results, and here's what the results were. I should be able to read this part and understand what you did clearly:
    <ul>
        <li> Please make a pipeline that does the prep work - you may need some exploration or several trials before settling on what exactly to use, that's normal. Once you've settled, build that into a pipeline so it's clear and repeatable.
        <li> What you settled on for data cleaning, along with what prompted it. 
        <li> Feature Selection - Please identify what you did for feature selection. No need for a long explaination, something along the lines of "I did X, and the result was that 4 features were removed". Try at least 2 things. 
        <li> Model selection - between selecting a model style and tuning it with hyperparameters, what did you test and what won?
        <li> Overall, how good was your model and what things may make sense to try to do even better? 
        <li> If you could use titles/bullet points I'd really appreciate it. 
    </ul>
    <li>Grade Breakdown:
    <ul>
        <li> Code is readable, there are comments: 20%
        <li> Explaination as defined above: 60% (20% each point)
        <li> Accuracy: 20% As compared to everyone else. This will be generously graded, I won't be surprised if overall accuracy is low for most people. 
    </ul>
</ul>

<b>The biggest challenge here is translating the data into something useful and clean. This will probably require a bit of exploration, examining the data, thinking about what it means, trying something, then making a model to see what the results are. In particular, think about what value some of the less clean bits of data my hold - binning/grouping, numerical transformations, outlier removal, etc... are all likely to be useful somewhere. You almost certainly need to look at it column by column and make a decision, I'll apologize up front, it isn't the most fun process in the world. There is not one specific correct answer.</b>

In [3]:
#import importlib
#import toolbox
#importlib.reload(toolbox)
#from ml_eda import edaDF

In [4]:
# Clean dataset (whitespace and weird characters)

import unicodedata

df = df.apply(lambda col: col.map(tb.clean_string2))     # Clean entire df
df.columns = df.columns.map(tb.clean_string2)            # Clean column headers

In [5]:
# Create data dictionary

data_dict = pd.DataFrame({
    'Dtype': df.dtypes,
    'Semantic Type': None,
    'Desc': None,
    '# of Nulls': df.isna().sum(),
    '# of Unique Values': df.nunique()
    })                                      #.reset_index(names='Column')

data_dict.index.name = 'Column'             # Give the index a name

In [6]:
# Create description dictionary to add manually input column descriptions to data dictionary

# Create list of columns
cols = df.columns.to_list()

# Build description dictionary scaffold
desc_dict = {col: '' for col in cols}
#desc_dict

# Build description dictionary scaffold
semantic_dict = {col: '' for col in cols}
#semantic_dict

In [7]:
df.columns

Index(['Timestamp', 'Age', 'Gender', 'City', 'Position',
       'Total years of experience', 'Years of experience in Germany',
       'Seniority level', 'Your main technology / programming language',
       'Other technologies/programming languages you use often',
       'Yearly brutto salary (without bonus and stocks) in EUR',
       'Yearly bonus + stocks in EUR', 'Number of vacation days',
       'Employment status', 'Contract duration', 'Main language at work',
       'Company size', 'Company type'],
      dtype='object', name='Column')

In [17]:
# Manually update description dictionary

desc_dict = {
 "Timestamp": "Date and time survey response was submitted (acts as survey submission identifier)",
 "Age": "Respondent's age in years",
 "Gender": "Respondent's self-report gender",
 "City": "City in which the respondent works (primarily German cities, with a few internationaly cities)",
 "Position": "Current job title or primary role",
 "Total years of experience": "Total number of years the respondent has worked in their profession",
 "Years of experience in Germany": "Number of years the respondent has worked specifically in Germany",
 "Seniority level": "Self‑reported seniority",
 "Your main technology / programming language": "Primary programming language or technology used in the respondent’s job",
 "Other technologies/programming languages you use often": "Additional languages, frameworks, or tools the respondent frequently uses",
 "Yearly brutto salary (without bonus and stocks) in EUR": "Annual gross base salary in euros, excluding bonuses and stock compensation",
 "Yearly bonus + stocks in EUR": "Annual bonus and/or stock compensation in euros",
 "Number of vacation days": "Number of paid vacation days per year",
 "Employment status": "Type of employment",
 "Contract duration": "Type of employment contract",
 "Main language at work": "Primary language used in the workplace",
 "Company size": "Approximate number of employees in the respondent’s company",
 "Company type": "Type of organization respondent is employed for"}

In [18]:
df.sample(5)

Column,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,Yearly brutto salary (without bonus and stocks) in EUR,Yearly bonus + stocks in EUR,Number of vacation days,Employment status,Contract duration,Main language at work,Company size,Company type
925,30/11/2020 10:58:04,26.0,Male,Amsterdam,Data Scientist,2,NaN,Junior,Python,"Python, SQL, Azure",48000.0,15000,25,Full-time employee,Temporary contract,English,51-100,Fintech
720,26/11/2020 00:00:46,44.0,Male,Kyiv,Business Analyst,15,0,Head,UML,NaN,60000.0,0,30,Self-employed (freelancer),Unlimited contract,English,101-1000,Consulting / Agency
47,24/11/2020 11:31:45,32.0,Male,Berlin,Backend Developer,3,1,Middle,Java,"AWS, Kubernetes, Docker",77000.0,NaN,30,Full-time employee,Unlimited contract,English,101-1000,Product
756,26/11/2020 10:53:48,39.0,Male,Berlin,Engineering Manager,15,10,Lead,Java,"Python, Kotlin, Javascript / Typescript, SQL, ...",78000.0,12000,30,Full-time employee,Unlimited contract,German,101-1000,Product
187,24/11/2020 12:41:45,46.0,Male,Munich,Scrum Master,12,8,Senior,Agile,"C/C++, PHP, .NET, SQL",85000.0,10000,30,Full-time employee,Unlimited contract,German,1000+,Product

In [19]:
print('\033[1m# of unique values:\033[0m')
print(df.nunique())

# of unique values:
Column
Timestamp                                                 1248
Age                                                         40
Gender                                                       3
City                                                       107
Position                                                   141
Total years of experience                                   48
Years of experience in Germany                              52
Seniority level                                             23
Your main technology / programming language                243
Other technologies/programming languages you use often     562
Yearly brutto salary (without bonus and stocks) in EUR     201
Yearly bonus + stocks in EUR                               168
Number of vacation days                                     43
Employment status                                           11
Contract duration                                            3
Main language at work                                       14
Company size                                                 5
Company type                                                60
dtype: int64

In [20]:
# Manually update semantic type dictionary

semantic_dict = {
 'Timestamp': 'categorical nominal',
 'Age': 'numeric discrete',
 'Gender': 'categorical nominal',
 'City': 'categorical nominal',
 'Position': 'categorical nominal',
 'Total years of experience': 'numeric continuous',
 'Years of experience in Germany': 'numeric continuous',
 'Seniority level': 'categorical ordinal',
 'Your main technology / programming language': 'categorical nominal',
 'Other technologies/programming languages you use often': 'categorical nominal',
 'Yearly brutto salary (without bonus and stocks) in EUR': 'numeric continuous',
 'Yearly bonus + stocks in EUR': 'numeric continuous',
 'Number of vacation days': 'numeric discrete',
 'Employment status': 'categorical nominal',
 'Contract duration': 'categorical nominal',
 'Main language at work': 'categorical nominal',
 'Company size': 'categorical ordinal',
 'Company type': 'categorical nominal'}

In [21]:
# Map descriptions and data type to data dictionary 

#data_dict['Desc'] = data_dict['Column'].map(desc_dict)
#data_dict['Semantic Type'] = data_dict['Column'].map(semantic_dict)

data_dict['Desc'] = data_dict.index.map(desc_dict)
data_dict['Semantic Type'] = data_dict.index.map(semantic_dict)

In [22]:
# Check my handywork

data_dict.sample(5)

,Dtype,Semantic Type,Desc,# of Nulls,# of Unique Values
Column,,,,,
Age,float64,numeric discrete,Respondent's age in years,27,40
Years of experience in Germany,object,numeric continuous,Number of years the respondent has worked spec...,32,52
Yearly bonus + stocks in EUR,object,numeric continuous,Annual bonus and/or stock compensation in euros,424,168
Company size,object,categorical ordinal,Approximate number of employees in the respond...,18,5
Seniority level,object,categorical ordinal,Self‑reported seniority,12,23

In [23]:
# Save data dictionary to markdown file

#data_dict.to_markdown('data_dictionary.md', index=True)                       # Ooof that's ugly
#data_dict.reset_index().to_markdown('data_dictionary.md', index=False)    
#data_dict.reset_index().to_csv('data_dictionary.csv', index=False)


data_dict.reset_index().to_csv('data_dictionary.tsv', sep='\t', index=False, encoding='utf-8-sig')

In [24]:
# Create mapping for semantic types to pandas dtypes

semantic_to_dtype = {
    'numeric discrete': 'Int64',            # nullable integer
    'numeric continuous': 'float64',
    'categorical nominal': 'category',
    'categorical ordinal': 'category',      # we can add ordered categories later
}

In [ ]:
semantic = data_dict['Semantic Type']

for col in df.columns:

SyntaxError: incomplete input (3905566423.py, line 4)

In [ ]:
# EDA

df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Column,,,,,,,,,,,
Timestamp,1253,1248,24/11/2020 14:07:23,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Age,1226.0,NaN,NaN,NaN,32.509788,5.663804,20.0,29.0,32.0,35.0,69.0
Gender,1243,3,Male,1049,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,1253,119,Berlin,681,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Position,1247,148,Software Engineer,387,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total years of experience,1237,48,10,138,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Years of experience in Germany,1221,53,2,195,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Seniority level,1241,24,Senior,565,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Your main technology / programming language,1126,256,Java,184,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Other technologies/programming languages you use often,1096,562,Javascript / Typescript,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yearly brutto salary (without bonus and stocks) in EUR,1253.0,NaN,NaN,NaN,80279042.578715,2825061107.590495,10001.0,58800.0,70000.0,80000.0,99999999999.0
Yearly bonus + stocks in EUR,829,168,0,227,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Number of vacation days,1185,45,30,488,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Employment status,1236,11,Full-time employee,1190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Сontract duration,1224,3,Unlimited contract,1159,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Main language at work,1237,14,English,1020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company size,1235,5,1000+,448,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company type,1228,63,Product,760,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df[393:396]

Column,Timestamp,Age,Gender,City,Position,Total years of experience,Years of experience in Germany,Seniority level,Your main technology / programming language,Other technologies/programming languages you use often,Yearly brutto salary (without bonus and stocks) in EUR,Yearly bonus + stocks in EUR,Number of vacation days,Employment status,Сontract duration,Main language at work,Company size,Company type
393,24/11/2020 19:15:02,30.0,Male,Moscow,Software Engineer,5,0,Middle,C,C/C++,14712.0,0,30,Full-time employee,Unlimited contract,Russian,101-1000,Product
394,24/11/2020 19:15:49,33.0,Male,Berlin,Product Manager,5,5,Senior,NaN,Python,70000.0,800,30,Full-time employee,NaN,German,101-1000,Product
395,24/11/2020 19:19:30,35.0,Male,Berlin,QA Engineer,11,10,Senior,Java,"Python, Javascript / Typescript, .NET, Java / ...",74400.0,NaN,30,Full-time employee,Unlimited contract,English,101-1000,Product

In [ ]:
df.dtypes

Column
Timestamp                                                  object
Age                                                       float64
Gender                                                     object
City                                                       object
Position                                                   object
Total years of experience                                  object
Years of experience in Germany                             object
Seniority level                                            object
Your main technology / programming language                object
Other technologies/programming languages you use often     object
Yearly brutto salary (without bonus and stocks) in EUR    float64
Yearly bonus + stocks in EUR                               object
Number of vacation days                                    object
Employment status                                          object
Сontract duration                                          object
Main language at work                                      object
Company size                                               object
Company type                                               object
dtype: object

In [ ]:
len(df)

1253

In [ ]:
#df.info()
df["Age"].value_counts().sort_index()

Age
20.0      1
21.0      1
22.0      8
23.0     12
24.0     28
25.0     42
26.0     59
27.0     58
28.0     87
29.0     86
30.0    110
31.0     87
32.0     94
33.0     94
34.0     74
35.0     82
36.0     60
37.0     44
38.0     48
39.0     28
40.0     31
41.0     14
42.0     20
43.0     10
44.0      8
45.0     11
46.0      8
47.0      3
48.0      4
49.0      2
50.0      1
51.0      1
52.0      1
53.0      1
54.0      2
56.0      2
59.0      1
65.0      1
66.0      1
69.0      1
Name: count, dtype: int64

In [ ]:
for column in df.columns:
    print(f'{column}:\n{df[column].unique()}\n')

Timestamp:
['24/11/2020 11:14:15' '24/11/2020 11:14:16' '24/11/2020 11:14:21' ...
 '18/01/2021 23:20:35' '19/01/2021 10:17:58' '19/01/2021 12:01:11']

Age:
[26. 29. 28. 37. 32. 24. 35. nan 34. 31. 41. 27. 25. 59. 36. 38. 40. 39.
 33. 30. 49. 48. 44. 66. 45. 43. 42. 46. 47. 56. 53. 65. 22. 23. 50. 51.
 21. 20. 54. 69. 52.]

Gender:
['Male' 'Female' nan 'Diverse']

City:
['Munich' 'Berlin' 'Hamburg' 'Wolfsburg' 'Stuttgart' 'Schleswig-Holstein'
 'London' 'Konstanz area' 'Frankfurt' 'Cologne' 'Kempten' 'Münster'
 'Erlangen' 'Vienna' 'Moldova' 'Rosenheim' 'Mannheim ' 'Boeblingen'
 'Düsseldorf' 'Ingolstadt' 'Nürnberg' 'Ansbach' 'Leipzig' 'Mannheim'
 'Tuttlingen' 'Bonn' 'Moscow' 'Koblenz' 'Warsaw' 'Heidelberg' 'Karlsruhe'
 'Köln' 'Aachen' 'Karlsruhe ' 'Samara' 'Riga, Latvia' 'Dusseldorf'
 'Zurich' 'Helsinki' 'Würzburg' 'Kiev' 'Den Haag' 'Amsterdam' 'Cracovia'
 'Tallinn' 'Prague' 'Utrecht' 'Stockholm' 'Braunschweig ' 'Dresden' 'Kyiv'
 'Stuttgart ' 'Malta' 'Lübeck' 'Nuremberg ' 'Bodensee' 'Milan' 'Salzburg'
 'Rome' 'Wroclaw' 'Cupertino' 'Paris' 'Dublin ' 'Paderborn' 'Konstanz'
 'Ulm' 'Düsseldorf ' 'Barcelona' 'Bölingen' 'Tampere (Finland)' 'Hannover'
 'Bucharest' 'Siegen' 'Minsk' 'Nuremberg' 'Marseille' 'Friedrichshafen'
 'Walldorf' 'Eindhoven' 'France' 'Regensburg' 'Warsaw, Poland' 'Heilbronn'
 'Dortmund' 'Jena' 'City in Russia' 'Cracow' 'Brunswick' 'Dublin' 'Madrid'
 'Lisbon' 'Sofia' 'Luttich' 'Milano' 'Bielefeld' 'Basel' 'NJ, USA'
 'Istanbul' 'warsaw' 'Hildesheim' 'Heidelberg ' 'Murnau am Staffelsee '
 'Zürich' 'Innsbruck' 'Brussels ' 'Hildesheim ' 'Prefer not to say'
 'Dusseldurf' 'Fr' 'Darmstadt' 'Duesseldorf' 'Cambridge' 'Brussels'
 'Copenhagen' 'Sevilla' 'Krakow' 'Ingolstadt ' 'Saint-Petersburg'
 'Saarbrücken']

Position :
['Software Engineer' 'Backend Developer' 'Frontend Developer' 'DevOps'
 'Data Engineer' 'Designer (UI/UX)' 'Product Manager' 'Mobile Developer'
 'Software Architect' 'Team Lead' 'Test manager' 'QA Engineer'
 'Data Scientist' 'Hardware Engineer' 'Engineering Manager'
 'Analytics engineer' 'Localization producer' 'Reporting Engineer'
 'Account Managet' 'agile master ' 'ML Engineer' 'Solution Architect'
 'BI Consultant' 'Fullstack Developer' nan 'Cloud Architect'
 'System Administrator' 'Project Manager' 'Network Engineer '
 'VP Engineering' 'Agile Coach' 'Data Science Manager' 'Scrum Master'
 'Firmware Engineer' 'Solutions Architect' 'Data Center Manager'
 'C/C++/Java developer' 'DevOps Manager' 'Tech Lead'
 'Network Administrator' 'Security Manager' 'Consultant Data Analytics'
 'BI IT Consultant' 'Graphic Designer' 'iOS Developer' 'Banker'
 'Cloud Engineer' 'Solutions architect' 'Stuttgart'
 'Senior Program Manager' 'DB developer/Data analyst' 'Security Engineer'
 'Business Analyst' 'DBA' 'Support Engineer' 'Consultant' 'Recruiter'
 'Testautomation' 'SAP Developer' 'Systemadministrator' 'SW Architect'
 'SRE' 'Fullstack engineer, ну или Software engineer' 'HiWi'
 'Project manager' 'Architect' 'Technical Lead' 'Tech Lead / Full-Stack'
 'Marketing Analyst' 'CTO' 'Senior Network&Security Eng.'
 'Software tester ' 'SAP BW Senior Consultant ' 'QA Manager '
 'Director of Engineering' 'IT Spezialist' 'Manager' 'Consultant '
 'Data Analyst' 'Software Developer in Test' 'Technical account manager '
 'Tech Leader' 'Chief Research Officer' 'Presales Engineer '
 'Freelance AI lead / advisor' 'Business Development Manager Operations '
 'Program Manager' 'Researcher' 'Engineering manager'
 'Embedded Software Engineer' 'Dana Analyst' 'Team Manager'
 'Data Analyst ' 'working student (QA)' 'Architect ' 'Head of Engineering'
 'SAP Consultant' 'BI Consultant SAP/ Data Engineer'
 'computer vision researcher' 'Teamlead' 'Senior Data Engineer' 'Analyst'
 'IT Manager' 'Head of IT ' 'Lead Software Developer' 'data engineer'
 'Tech recruiting' 'BI Analyst ' 'BI Developer / Data Engineer'
 'Senior Scrum Master (RTE)' 'Head of BI' 'Technical project manager'
 'Project manager ' 'support engineer' 'Security engineer'
 'Big Data Engineer' 'Manager ' 'Professor' 'AI Management' 'Sales '
 'XR Developer' 'Student, Software Developer, Data Engineer'
 'Engineering Team Lead' 'DataOps Team Lead' 'Software Sales' 'Beikoch'
 'Product Management Praktikant' 'Data analyst ' 'Product Analyst'
 'Team lead' 'It Consulting ' 'Data architect' 'Staff Engineer'
 'Head of IT' 'Computational linguist' 'Rentner'
 'technical business analyst' 'Full-Stack Developer' 'QA Manager'
 'QA Lead' 'Robotics Engineer' 'DatabEngineer' 'Application Consultant'
 'Lead Developer' 'Software Architekt' 'Testmanager' 'ERP Consultant'
 'Researcher/ Consumer Insights Analyst ' 'IT Operations Manager']

Total years of experience:
['5' '7' '12' '4' '17' '6' '8' '15' '2' '25' nan '14' '11' '18' '13' '30'
 '10' '3' '40' '26' '23' '9' '19' '20' '5.5' '22' '16' '0.8' '1' '1.5'
 '6.5' '21' '7.5' '2.5' '28' '29' '1,5' '24' '0' '4.5' '27'
 '1 (as QA Engineer) / 11 in total' '2,5' '15, thereof 8 as CTO' '31'
 '6 (not as a data scientist, but as a lab scientist)' '383' '3.5'
 'less than year']

Years of experience in Germany:
['3' '4' '6' '1' '0.4' '2' '11' nan '5' '9' '30' '7' '15' '10' '18' '0'
 '8' '2.5' '1,5' '1.5' '0.5' '13' '14' '4,5' '3.5' '0.8' '1,7' '12' '3,5'
 '20' '0.9' '25' '< 1' '0.25' '4 (in Switzerland), 0 (in Germany)' '16'
 '17' '4 month' '19' '2,5' '0,5' '26' '3 months' '4.5' '0.1' '2.6'
 '3 (in Poland)' '<1' '⁰' '0,3' '-'
 '6 (not as a data scientist, but as a lab scientist)' '0.2'
 'less than year']

Seniority level:
['Senior' 'Lead' 'Junior' 'Middle' 'Head' nan 'No level' 'VP' 'Manager'
 'Work Center Manager' 'CTO' 'No level ' 'Director' 'Key'
 'C-level executive manager' 'Principal' 'intern' 'Student'
 'no idea, there are no ranges in the firm ' 'C-Level' 'Working Student'
 'Entry level' 'Intern' 'student' 'Self employed']

Your main technology / programming language:
['TypeScript' 'Ruby' 'Javascript / Typescript' 'Javascript' 'C# .NET'
 'AWS, GCP, Python,K8s' 'Typescript' 'PHP' 'Java'
 'Aws Hadoop Postgre Typescript' 'C++' nan 'Kotlin' 'kotlin' 'NodeJS'
 'iOS' 'Kubernetes' 'Charles' 'SQL' 'Go' 'java' 'Python' 'Figma'
 'JavaScript' 'Go/Python' 'React' 'С#' 'Php' 'ruby on rails'
 'JavaScript/ES6' '.NET' 'Hardware' 'C#' 'Google Cloud Platform' 'Js'
 'android' 'JavaScript ' 'Scala' 'python' 'C#, .net core' 'VHDL'
 'Power BI' 'PHP ' 'none' 'Android' 'Swift' 'ML' 'php' 'Scala, React.js'
 'Ml/Python' 'JavaScript/TypeScript' 'Ruby on Rails' 'Azure, SAP'
 'Frontend' 'Java, JavaScript' 'yaml' 'Python ' 'JS' 'Java ' '-' 'Agile'
 'C' 'TypeScript, JavaScript' 'Pegasystems platform '
 'C++, Java, Embedded C' 'Cloud' 'DC Management' '--' 'SWIFT'
 'Java, angular, Aws' 'Swift, objective-c' 'Golang' 'go' 'DevOps' '.net'
 'Node.js' 'R' 'Java, Javascript' 'Bash' '.Net' 'Network' 'nothing'
 'Qlik BI Tool, SQL' 'Blockchain' 'Angular' 'Autonomous Driving' 'c#'
 'Js, TypeScript, Angular' 'T-SQL' 'c++' 'Java, terraform'
 'Pascal, VB.NET, C#' 'Oracle' 'Javascript ' 'Angular, React' 'Elixir'
 'NodeJS, Typescript, AWS' 'Erlang' 'Java, JS' 'Objective-C' 'QA' 'C++/C#'
 'ABAP' 'Java/Kotlin' 'Typescript / Angular' 'React/Typescript' 'Golang '
 'Salesforce ' 'javascript' 'Java/C++' 'Scala / Python' 'Java/Scala'
 'Web developer' 'JavaScript/Typescript' 'TypeScript, React'
 'Python / JavaScript (React)' 'JavaScript / typescript' 'Terraform'
 'JAVA' 'Apache Spark' 'Computer Networking,  Network Security '
 'SAP BW / ABAP' 'Go, PHP, SQL' 'Kotlin ' 'Jira' 'Qml' 'AWS' 'C#/.NET'
 'Kotlin, Java' 'Linux Kernel' 'several' 'Android/Kotlin' 'embedded'
 'Java/Groovy' 'typescript' 'Python + SQL' 'Typescript, Web apps'
 'Terraform ' 'Java, .Net' 'Python, statistics, SQL'
 'Sql, BQ, tableau, gtm, ga' 'React '
 'Business Development Manager Operation ' 'Management' 'Java, Kotlin'
 'Nodejs' 'TS' 'sql' 'Spark, Pytorch' 'C/C++'
 'java/scala/go/clouds/devops'
 'Linux/UNIX, GIT, Virtualisation Platforms, *shell(s) scripts'
 'Python, SQL' 'DWH' 'Azure' 'Sketch, Figma' 'js' 'k8s'
 'Frontend: react, node.js' 'VB, RPA, Python' 'FBD' 'C, C++'
 'Swift, Objective-C, iOS' 'Embedded' 'JavaScript / TypeScript'
 'SAP / ABAP' 'Kubrrnetes' 'networking, linux, automation, cloud' 'UML'
 'Spark' 'Js, reactJS ' 'Cobol' 'SRE' 'Clojure' 'JS, WDIO'
 'Terraform, Kubernetes, AWS, GCP, Ansible, Puppet' 'Spring' 'swift'
 'Офмф' 'React JS' 'Typescript ' 'TypeScript/Angular' 'golang'
 'Kotlin/PHP' 'SAP ABAP' 'AI' 'pythin' 'julia' 'Java & PHP' 'Sql ' 'C++/c'
 'Angular, Typescript' 'Pyrhon' 'PM tools' 'Grails, Groovy' 'python '
 'React / JavaScript' 'Perl' 'Python, cloud computing ' 'Haskell'
 'JavScript' 'Python (Django)' 'Network Automation'
 'Kubernetes, Terraform, GCP' 'PowerShell' 'python, scala'
 'Django, Flask, Plotly Dash' 'Sql' 'Javascript, Angular' 'SAS,SQL,Python'
 'Node' 'Python/SQL' 'php, js, python, docker' 'C, Matlab'
 'TypeScript, Kotlin' 'Apotheker' 'JavaScript, TypeScript'
 'Tricentis Tosca' 'Swift/Kotlin' 'Java & Distributed Systems Stuff'
 'jenkins bash' 'Test Management ' 'NodeJS/TS' 'PHP/MySQL'
 'Angular, TypeScript' 'NLP, Python'
 'Python, Whole Apache Data Science Stack, AWS' 'Embedded C++' 'NodsJs'
 'Javascript/Typescript' 'Linux' 'Kuberenetes, Openstack' 'c/c++'
 'JS, Java' 'Python, Pytorch' 'PS, Sketch, React, CSS3' 'Python/NLP'
 'Scala, Apache Spark' 'Swift, Objective-C' 'React.js / TypeScript'
 'BI, DWH, ETL/ELT' 'GCP' 'Web' 'PL/SQL' 'SAP' 'scala' 'Java / Scala'
 'Magento' 'Python, database technologies' 'C++, C#' 'Java Backend'
 '.net, c++, spss, embeddded' '.Net, Angular' 'Atlassian JIRA' 'Qlik'
 'spark' 'consumer analysis']

Other technologies/programming languages you use often:
['Kotlin, Javascript / Typescript' nan 'Javascript / Typescript, Docker'
 '.NET, SQL, AWS, Docker' 'Python, AWS, Google Cloud, Kubernetes, Docker'
 'Javascript / Typescript' 'SQL, AWS, Docker'
 'Python, Kotlin, Javascript / Typescript, SQL, AWS' 'Python, C/C++, SQL'
 'PHP, Javascript / Typescript, AWS' 'Go, Kubernetes, Docker' 'SQL'
 'Kotlin, Javascript / Typescript, AWS, Google Cloud, Kubernetes, Docker'
 'Javascript / Typescript, SQL, Go, AWS, Kubernetes, Docker, Terraform'
 'Javascript / Typescript, AWS, Docker' 'Kotlin, Java / Scala, SQL'
 'Python, C/C++, Javascript / Typescript, SQL, Go, AWS, Docker'
 'Swift, AWS' 'Python, Go, AWS, Kubernetes, Docker' 'Python' 'Kotlin'
 'Python, Java / Scala, SQL, AWS, Google Cloud, Kubernetes, Docker'
 'Python, R, Google Cloud, Docker'
 'Python, Javascript / Typescript, Java / Scala, Go, Kubernetes, Docker'
 'Python, Kotlin, Java / Scala, SQL, AWS, Kubernetes, Docker'
 'AWS, Kubernetes, Docker' 'AWS, Kubernetes'
 'Python, C/C++, Javascript / Typescript, .NET, SQL'
 'Kotlin, AWS, Kubernetes, Docker' 'C/C++'
 'Python, SQL, Google Cloud, Kubernetes, Docker'
 'Go, AWS, Kubernetes, Docker, Elixir' 'PHP, SQL, AWS, Kubernetes, Docker'
 'SQL, Go, Kubernetes, Docker'
 'Javascript / Typescript, AWS, Kubernetes, Docker'
 'AWS, Google Cloud, Azure, Docker' 'Java / Scala, AWS, Docker'
 'Javascript / Typescript, Ruby, SQL' 'Javascript / Typescript, SQL'
 'Kotlin, Javascript / Typescript, Java / Scala, SQL, AWS, Google Cloud, Kubernetes, Docker'
 '.NET, SQL' 'Javascript / Typescript, Java / Scala' 'C/C++, .NET, SQL'
 'Python, SQL, Go, Google Cloud, bash'
 'Javascript / Typescript, SQL, AWS, Google Cloud, Kubernetes, Docker, Quorum'
 'PHP' 'Javascript / Typescript, .NET, SQL, Azure, Docker'
 'Kotlin, Javascript / Typescript, Java / Scala, Docker'
 'Python, Java / Scala, SQL, Go, AWS, Google Cloud, Kubernetes, Docker'
 'Java / Scala' 'Python, C/C++, SQL, Docker'
 'Python, PHP, Javascript / Typescript, Go, Google Cloud, Kubernetes, Docker'
 'Python, Java / Scala, AWS, Docker' 'Kotlin, Java / Scala' 'Kubernetes'
 'Python, .NET, AWS, Azure, Kubernetes, Docker'
 'Kotlin, Javascript / Typescript, SQL, Docker' 'Python, AWS, Docker'
 'Python, Go, AWS, Kubernetes'
 'Python, Javascript / Typescript, SQL, SAP / ABAP, Google Cloud, Azure'
 'Docker'
 'Python, Javascript / Typescript, .NET, SQL, AWS, Azure, Kubernetes, Docker'
 'Python, Kotlin, Java / Scala, SQL, Kubernetes, Docker'
 'Python, Javascript / Typescript, SQL, Kubernetes, Docker'
 'PHP, Javascript / Typescript, SQL'
 'Python, SQL, AWS, Azure, Kubernetes, Docker' 'Kotlin, Ruby'
 'Python, Java / Scala, R, SQL, AWS, Azure'
 'PHP, Javascript / Typescript, SQL, Docker' 'Python, SQL, AWS, Docker'
 'SQL, AWS, Google Cloud, Kubernetes, Docker'
 'Javascript / Typescript, SQL, AWS, Docker'
 'Javascript / Typescript, AWS' 'Java / Scala, AWS, Kubernetes, Docker'
 'Javascript / Typescript, Go'
 'Javascript / Typescript, SQL, AWS, Kubernetes, Docker'
 'Python, Javascript / Typescript'
 'Javascript / Typescript, Java / Scala, AWS, Kubernetes, Docker' 'Swift'
 'Javascript / Typescript, .NET, SQL'
 'Kotlin, Java / Scala, SQL, AWS, Kubernetes, Docker'
 'Python, Javascript / Typescript, .NET, AWS, Azure, Kubernetes, Docker'
 'Javascript / Typescript, Google Cloud, Docker' 'Python, SQL'
 'Python, Java / Scala, R, SQL, Go, AWS, Google Cloud, Azure, Kubernetes, Docker'
 'Kotlin, Java / Scala, SQL, SAP / ABAP, Kubernetes, Docker'
 'PHP, Javascript / Typescript, Dart' 'Kotlin, Java / Scala, AWS'
 'Ruby, Kubernetes, Docker'
 'Python, Kotlin, Javascript / Typescript, Go, AWS, Kubernetes, Docker'
 'SQL, Elixir' '.NET, SQL, Google Cloud, Kubernetes, Docker'
 'SAP / ABAP, AWS, Google Cloud, Azure, Kubernetes, Docker'
 'Python, Java / Scala, Perl' 'Python, C/C++, SQL, AWS' 'Python, Ruby'
 'Python, Kotlin, Javascript / Typescript, Java / Scala, Docker' 'SQL, Go'
 'AWS, Docker'
 'PHP, Javascript / Typescript, Go, AWS, Google Cloud, Kubernetes, Docker'
 'Javascript / Typescript, Java / Scala, SQL' 'Python, SQL, AWS, Azure'
 'Python, PHP, Javascript / Typescript, SQL, Go, Perl, AWS, Google Cloud, Azure, Kubernetes, Docker'
 'Python, Docker' 'Javascript / Typescript, SQL, Google Cloud, Docker'
 'Python, Kubernetes' 'Python, SQL, AWS, Kubernetes, Docker'
 'PHP, Javascript / Typescript, SQL, AWS, Docker' 'Swift, Objective-C'
 'Python, C/C++, Pytorch'
 'Kotlin, Javascript / Typescript, Java / Scala, AWS, Kubernetes, Docker'
 'PHP, AWS, Google Cloud'
 'Python, Kotlin, Swift, Javascript / Typescript, Java / Scala, SQL, AWS, Google Cloud, Kubernetes, Docker'
 'PHP, Javascript / Typescript, SQL, Google Cloud, Docker'
 'R, SQL, AWS, Azure, Docker' 'PHP, Javascript / Typescript'
 'PHP, SQL, AWS, Azure, Kubernetes, Docker' 'Kubernetes, Docker'
 'C/C++, PHP, .NET, SQL' 'Python, C/C++'
 'Python, Kubernetes, Docker, Ansible'
 'C/C++, Javascript / Typescript, Java / Scala, SQL, Docker'
 'Python, C/C++, .NET, Java / Scala'
 'Kotlin, Java / Scala, AWS, Kubernetes, Docker' '.NET, Azure' '.NET'
 'Javascript / Typescript, Kubernetes, Docker, Angular'
 'Python, Javascript / Typescript, Go'
 'Java / Scala, SQL, AWS, Kubernetes, Docker'
 'Python, Javascript / Typescript, Java / Scala, SQL, AWS, Kubernetes, Docker'
 'Java / Scala, SQL, Google Cloud, Docker'
 'Python, Javascript / Typescript, SQL, AWS, Docker'
 'Kotlin, .NET, Java / Scala, Dart' 'C/C++, SQL, AWS, Docker'
 'Swift, Javascript / Typescript, Java / Scala, Google Cloud'
 'Python, Javascript / Typescript, Java / Scala, SQL, AWS, Docker'
 'Kotlin, Swift, Go, AWS, Kubernetes, Docker' 'R, SQL, Perl, Docker'
 'Python, Javascript / Typescript, SQL, Go, Perl, Google Cloud, Kubernetes, Docker'
 'Kotlin, Java / Scala, SQL, AWS, Docker'
 'PHP, Javascript / Typescript, Perl, AWS, Kubernetes, Docker'
 'Javascript / Typescript, .NET' 'Kotlin, Javascript / Typescript, Dart'
 'Python, AWS, Azure, Kubernetes, Docker'
 'Javascript / Typescript, Java / Scala, Go'
 'Swift, Javascript / Typescript, Go, AWS, Kubernetes, Docker'
 'Swift, Flutter' 'R, SQL' 'Python, C/C++, Swift, Matlab '
 'PHP, Javascript / Typescript, .NET, SQL, Google Cloud, Kubernetes, Docker'
 'Javascript / Typescript, Go, AWS, Docker' '.NET, SQL, Azure, Docker'
 'Python, R, Azure'
 'Javascript / Typescript, Java / Scala, SQL, AWS, Docker'
 'C/C++, PyTorch' 'Python, Java / Scala, SQL, AWS, Azure'
 'Javascript / Typescript, .NET, SQL, AWS, Docker'
 'Python, PHP, Javascript / Typescript, SQL, Docker'
 'Javascript / Typescript, .NET, SQL, AWS, Azure, Kubernetes, Docker'
 'AWS, Google Cloud' 'Adobe Cloud, Sketch, 3Ds Max'
 'Javascript / Typescript, Kubernetes, Docker' 'PHP, SQL'
 'Ruby, Objective C' 'Kotlin, SQL, AWS, Docker, Spark'
 'Python, .NET, Azure, Kubernetes, Docker'
 'Python, Kotlin, Java / Scala, SQL, Go, AWS, Google Cloud, Kubernetes, Docker'
 'SQL, Go, AWS, Docker' 'Kotlin, Java / Scala, Azure'
 'Kotlin, SQL, Azure, Kubernetes, Docker, Mongo'
 'Javascript / Typescript, Azure, Kubernetes, GraphQL'
 'SQL, AWS, Kubernetes, Docker, Groovy' 'SQL, Go, AWS, Kubernetes, Docker'
 'Javascript / Typescript, SQL, Azure'
 'SQL, AWS, Azure, Kubernetes, Docker'
 'Java / Scala, SQL, AWS, Google Cloud, Azure, Docker'
 'SQL, AWS, Kubernetes' 'Kotlin, .NET, SQL, AWS'
 'Javascript / Typescript, Ruby, AWS, Kubernetes, Docker'
 'Javascript / Typescript, AWS, Kubernetes'
 'Python, C/C++, Javascript / Typescript, Ruby, .NET, Java / Scala, SQL, Go, AWS, Kubernetes'
 'Python, Kotlin, Javascript / Typescript, Java / Scala, AWS, Kubernetes, Docker'
 'Python, PHP, Javascript / Typescript, SQL' 'Swift, objective-c'
 'Javascript / Typescript, .NET, SQL, Azure, Kubernetes, Docker'
 'Javascript / Typescript, SQL, Go, AWS, Docker'
 'Go, AWS, Kubernetes, Docker' 'Python, Javascript / Typescript, Docker'
 'Javascript / Typescript, .NET, SQL, Azure' 'Erlang'
 'Python, Kotlin, Java / Scala, Google Cloud, Kubernetes, Docker'
 'Javascript / Typescript, Ruby, SQL, Google Cloud, Kubernetes, Docker'
 'Javascript / Typescript, Java / Scala, AWS'
 'Python, Java / Scala, Docker' 'Python, SQL, Docker'
 'Javascript / Typescript, Kubernetes' 'Python, SQL, Kubernetes, Docker'
 'PHP, Java / Scala' 'PHP, Javascript / Typescript, Java / Scala, Docker'
 'PHP, Go' 'Elixir' 'Python, SQL, Go, AWS, Kubernetes, Docker'
 'SAP / ABAP' 'Python, Java / Scala' 'Kotlin, C/C++, Java / Scala'
 'PHP, SQL, Go, Docker, Postgres'
 'Python, Google Cloud, Kubernetes, Docker'
 'Javascript / Typescript, .NET, SQL, Docker' 'Python, C/C++, Docker'
 'Javascript / Typescript, SAP / ABAP'
 'Python, Kotlin, Javascript / Typescript, Java / Scala, SQL, Kubernetes, Docker'
 'Linux' 'Ruby, Java / Scala, Go, AWS, Kubernetes, Docker'
 'Kotlin, Javascript / Typescript, Java / Scala, Kubernetes, Docker'
 'MongoDB' 'Javascript / Typescript, .NET, SQL, Go, Kubernetes, Docker'
 'Python, SQL, Azure' 'PHP, SQL, Perl'
 'Python, C/C++, Javascript / Typescript, Java / Scala'
 'Java / Scala, SQL' 'Python, Javascript / Typescript, Apex'
 'C/C++, SQL, AWS, Kubernetes, Docker'
 'Python, Javascript / Typescript, AWS, Docker'
 'Python, C/C++, Javascript / Typescript, Java / Scala, SQL, Kubernetes'
 'Python, Ruby, Java / Scala, Google Cloud, Kubernetes, Docker'
 'Python, C/C++, Javascript / Typescript, SQL'
 'Python, Kotlin, Java / Scala, SQL, AWS, Google Cloud, Kubernetes, Docker'
 'Python, Javascript / Typescript, .NET, Java / Scala, Kubernetes, Docker'
 'Python, Javascript / Typescript, Java / Scala, Go, AWS, Kubernetes, Docker'
 'Python, Go, AWS, Docker' 'Python, C/C++, AWS, Kubernetes, Docker'
 'PHP, SQL, Kubernetes, Docker' 'C/C++, PHP, SQL' 'Python, R, Go' 'Go'
 'Python, Javascript / Typescript, SQL, Go, AWS, Google Cloud, Kubernetes, Docker'
 'Kotlin, SQL, AWS, Kubernetes, Docker' 'SQL, Kubernetes, Docker'
 'Python, Ruby, Java / Scala, Go, Rust, AWS, Kubernetes, Docker, Terraform, helm, packer'
 'Javascript / Typescript, Google Cloud, Kubernetes, Docker'
 'Python, R, SQL, SAP / ABAP, AWS, Kubernetes, Docker'
 'Python, Javascript / Typescript, SQL, AWS, Docker, React, Tailwindcss'
 'PHP, SQL, AWS, Docker' 'Javascript / Typescript, Angular'
 'Python, Javascript / Typescript, Google Cloud'
 'Javascript / Typescript, SQL, Docker'
 'Javascript / Typescript, .NET, Kubernetes, Docker'
 'Ruby, Java / Scala, AWS, Kubernetes, Docker' 'Google Cloud'
 'C/C++, Javascript / Typescript, .NET, SQL, Azure'
 'PHP, Javascript / Typescript, .NET, SQL, Azure, Kubernetes, Docker, React, Angular2+'

### **'Timestamp'**
- **Inconsistencies:**
    - dtype is object, should be datetime
- **Actions taken:**
    - Change dtype to datetime

In [ ]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'], format='%d/%m/%Y %H:%M:%S')
df['Timestamp'].dtype

dtype('<M8[ns]')

### **'Age'**
- **Inconsistencies:**
    - dtype is float64, should be integer
- **Actions taken:**
    - Change dtype to integer

In [ ]:
df['Age'] = df['Age'].convert_dtypes(int)
df['Age'].dtype

Int64Dtype()

### **'Gender'**
- **Inconsistencies:**
    - None
- **Actions taken:**
    - None

In [ ]:
np.sort(df['City'].unique()).tolist()

['Aachen',
 'Amsterdam',
 'Ansbach',
 'Barcelona',
 'Basel',
 'Berlin',
 'Bielefeld',
 'Bodensee',
 'Boeblingen',
 'Bonn',
 'Braunschweig ',
 'Brunswick',
 'Brussels',
 'Brussels ',
 'Bucharest',
 'Bölingen',
 'Cambridge',
 'City in Russia',
 'Cologne',
 'Copenhagen',
 'Cracovia',
 'Cracow',
 'Cupertino',
 'Darmstadt',
 'Den Haag',
 'Dortmund',
 'Dresden',
 'Dublin',
 'Dublin ',
 'Duesseldorf',
 'Dusseldorf',
 'Dusseldurf',
 'Düsseldorf',
 'Düsseldorf ',
 'Eindhoven',
 'Erlangen',
 'Fr',
 'France',
 'Frankfurt',
 'Friedrichshafen',
 'Hamburg',
 'Hannover',
 'Heidelberg',
 'Heidelberg ',
 'Heilbronn',
 'Helsinki',
 'Hildesheim',
 'Hildesheim ',
 'Ingolstadt',
 'Ingolstadt ',
 'Innsbruck',
 'Istanbul',
 'Jena',
 'Karlsruhe',
 'Karlsruhe ',
 'Kempten',
 'Kiev',
 'Koblenz',
 'Konstanz',
 'Konstanz area',
 'Krakow',
 'Kyiv',
 'Köln',
 'Leipzig',
 'Lisbon',
 'London',
 'Luttich',
 'Lübeck',
 'Madrid',
 'Malta',
 'Mannheim',
 'Mannheim ',
 'Marseille',
 'Milan',
 'Milano',
 'Minsk',
 'Moldova',
 'Moscow',
 'Munich',
 'Murnau am Staffelsee ',
 'Münster',
 'NJ, USA',
 'Nuremberg',
 'Nuremberg ',
 'Nürnberg',
 'Paderborn',
 'Paris',
 'Prague',
 'Prefer not to say',
 'Regensburg',
 'Riga, Latvia',
 'Rome',
 'Rosenheim',
 'Saarbrücken',
 'Saint-Petersburg',
 'Salzburg',
 'Samara',
 'Schleswig-Holstein',
 'Sevilla',
 'Siegen',
 'Sofia',
 'Stockholm',
 'Stuttgart',
 'Stuttgart ',
 'Tallinn',
 'Tampere (Finland)',
 'Tuttlingen',
 'Ulm',
 'Utrecht',
 'Vienna',
 'Walldorf',
 'Warsaw',
 'Warsaw, Poland',
 'Wolfsburg',
 'Wroclaw',
 'Würzburg',
 'Zurich',
 'Zürich',
 'warsaw']

### **'City'**
- **Inconsistencies:**
    - Countries rather than cities
    - Special characters ex. "()"
    - Trailing spaces
    - Invalid answers and extra text ("Prefer not to say", "area", "City in"
    - Abreviations
    - Spelling errors
    - Multiple spellings
    - Accents    
- **Actions taken:**
    - Removed trailing spaces
    -

In [ ]:
df['City'].unique()

array(['Munich', 'Berlin', 'Hamburg', 'Wolfsburg', 'Stuttgart',
       'Schleswig-Holstein', 'London', 'Konstanz area', 'Frankfurt',
       'Cologne', 'Kempten', 'Münster', 'Erlangen', 'Vienna', 'Moldova',
       'Rosenheim', 'Mannheim ', 'Boeblingen', 'Düsseldorf', 'Ingolstadt',
       'Nürnberg', 'Ansbach', 'Leipzig', 'Mannheim', 'Tuttlingen', 'Bonn',
       'Moscow', 'Koblenz', 'Warsaw', 'Heidelberg', 'Karlsruhe', 'Köln',
       'Aachen', 'Karlsruhe ', 'Samara', 'Riga, Latvia', 'Dusseldorf',
       'Zurich', 'Helsinki', 'Würzburg', 'Kiev', 'Den Haag', 'Amsterdam',
       'Cracovia', 'Tallinn', 'Prague', 'Utrecht', 'Stockholm',
       'Braunschweig ', 'Dresden', 'Kyiv', 'Stuttgart ', 'Malta',
       'Lübeck', 'Nuremberg ', 'Bodensee', 'Milan', 'Salzburg', 'Rome',
       'Wroclaw', 'Cupertino', 'Paris', 'Dublin ', 'Paderborn',
       'Konstanz', 'Ulm', 'Düsseldorf ', 'Barcelona', 'Bölingen',
       'Tampere (Finland)', 'Hannover', 'Bucharest', 'Siegen', 'Minsk',
       'Nuremberg', 'Marseille', 'Friedrichshafen', 'Walldorf',
       'Eindhoven', 'France', 'Regensburg', 'Warsaw, Poland', 'Heilbronn',
       'Dortmund', 'Jena', 'City in Russia', 'Cracow', 'Brunswick',
       'Dublin', 'Madrid', 'Lisbon', 'Sofia', 'Luttich', 'Milano',
       'Bielefeld', 'Basel', 'NJ, USA', 'Istanbul', 'warsaw',
       'Hildesheim', 'Heidelberg ', 'Murnau am Staffelsee ', 'Zürich',
       'Innsbruck', 'Brussels ', 'Hildesheim ', 'Prefer not to say',
       'Dusseldurf', 'Fr', 'Darmstadt', 'Duesseldorf', 'Cambridge',
       'Brussels', 'Copenhagen', 'Sevilla', 'Krakow', 'Ingolstadt ',
       'Saint-Petersburg', 'Saarbrücken'], dtype=object)

In [ ]:
# Remove leading and trailing spaces

print(f"# of unique values BEFORE strip: {len(df['City'].unique())}")

df['City'] = df['City'].str.strip()

print(f"# of unique values AFTER strip: {len(df['City'].unique())}")

# of unique values BEFORE strip: 119
# of unique values AFTER strip: 109

In [ ]:
# Remove accents

from unidecode import unicodedata

print(f"# of unique values BEFORE normalizing accents: {len(df['City'].unique())}")

df['City'] = df['City']    .str.encode('ascii', 'ignore') 

print(f"# of unique values AFTER normalizing accents: {len(df['City'].unique())}")

ModuleNotFoundError: No module named 'unidecode'

In [ ]:
df["City"] = df["City"].replace({
    "Dusseldurf": "Düsseldorf",
    "Koln": "Cologne",
    "Cracovia": "Krakow"
})

### 'Position'
- **Definition:**
    - 
- **Inconsistencies:**
    -
- **Actions taken:**
    -

###  'Total years of experience'
- **Definition:**
    - 
- **Inconsistencies:**
    -
- **Actions taken:**
    -

###  'Years of experience in Germany'
- **Definition:**
    - 
- **Inconsistencies:**
    -
- **Actions taken:**
    -

###  'Seniority level'
- **Definition:**
    - 
- **Inconsistencies:**
    -
- **Actions taken:**
    -

###  'Your main technology / programming language'
- **Definition:**
    - 
- **Inconsistencies:**
    -
- **Actions taken:**
    -

###  'Other technologies/programming languages you use often'
- **Inconsistencies:**
    -
- **Actions taken:**
    -

###  'Yearly brutto salary (without bonus and stocks) in EUR'
- **Definition:**
    - 
- **Inconsistencies:**
    -
- **Actions taken:**
    -

###  'Yearly bonus + stocks in EUR'
- **Definition:**
    - 
- **Inconsistencies:**
    -
- **Actions taken:**
    -

###  'Number of vacation days'
- **Definition:**
    - 
- **Inconsistencies:**
    -
- **Actions taken:**
    -

###  'Employment status'
- **Definition:**
    - 
- **Inconsistencies:**
    -
- **Actions taken:**
    -

###  'Сontract duration'
- **Definition:**
    - 
- **Inconsistencies:**
    -
- **Actions taken:**
    -

###  'Main language at work'
- **Definition:**
    - 
- **Inconsistencies:**
    -
- **Actions taken:**
    -

###  'Company size'
- **Definition:**
    - 
- **Inconsistencies:**
    -
- **Actions taken:**
    -

###  'Company type'
- **Definition:**
    - 
- **Inconsistencies:**
    -
- **Actions taken:**
    -

# Answers and Explainations
(Expand/modify as needed)

### Here's the Data Cleaning Steps I Used

### Here's my Tuning/Feature Selection Steps

### Here's my Model's Performance

### Here's my Final Conclusion on What Worked Best